Pre-task 4.2/DataBaseInteractions/obj/Debug/
Pre-task 4.2/DataBaseInteractions/bin/Debug/
Pre-task 1.2 (SecondString)/SecondByLengthString/obj/Debug/
Pre-task 1.2 (SecondString)/SecondByLengthString/bin/Debug/
